*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.all{
    width: 100vw;
      height: 100%;
      min-height: 100%;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: hidden;
    position: relative;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 17, 17);
}
.all h3{
    z-index: 3;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: rgb(134, 28, 28);
    
    
}


img{
    transition: .2s ease-out;
   
    object-fit:cover;
     height: 100vh;
    width: 100%;
    clip-path: circle(0px at 100px 100px);
    opacity: 0;
} 